/* variables */
:root {
  --base-color: #1e1f23;
  --second-color: #fff;
  --third-color: #000;
  --fourth-color: rgba(170, 165, 165, 0.4);
  --fifth-color: rgba(30, 31, 35, 0.5);
  --sixth-color: #50626E;
  --seventh-color: rgba(255, 255, 255, 0.7);
}

/* general */
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    overflow-x: hidden;
    position: relative;
}

.background {
    width: 100%;
    height: 100vh;
    background: var(--base-color) url("../img/background-photo.jpg") no-repeat center/cover;
    position: fixed;
    top: 0;
    z-index: -2;
}

.background-shadow {
    width: 100%;
    height: 100vh;
    background: var(--fifth-color);
    z-index: -1;
    position: absolute;
    top: 0;
}

.wrapper {
    width: 90vw;
    max-width: 1250px;
    padding: 0.5rem;
    margin: 0 auto;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    margin: -1px !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

/* header */
.header {
    margin-bottom: 1.5rem;
}

.header-wrapper {
    text-align: center;
    letter-spacing: 1.5px;
}

.main-header {
    margin: 2rem 0 0.5rem;
    color: var(--second-color);
    font-size: 3rem;
}

.second-header {
    margin: 0;
    color: var(--fourth-color);
    font-size: 1rem;
}

/* hero */
.hero-wrapper {
    padding: 10rem;
    background: url("../img/background-photo.jpg") no-repeat center/cover;
}

.hero-header {
    display: none;
}

/* story */
.story-wrapper {
    padding: 1rem 0 0;
    background: var(--second-color);
    text-align: center;
}

.third-header {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    position: relative;
}

.third-header::after {
    content: "";
    width: 10%;
    border-bottom: 1.5px solid var(--fourth-color);
    text-align: center;
    position: absolute;
    bottom: -10px;
    left: 0;
    margin-left: 45%;
}

.fourth-header {
    font-size: 1rem;
    color: var(--fifth-color);
    letter-spacing: 1px;
    font-weight: 300;
    margin-bottom: 3rem;
}

.story-text-wrapper {
    padding: 3rem 1rem;
    color: var(--fifth-color);
    background: var(--fourth-color);
    text-align: center;
}

.story-paragraph {
    font-size: 0.8rem;
}

/* gallery */
.gallery-wrapper {
    padding: 4rem 0;
    background: var(--base-color);
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.gallery-background {
    width: 90%;
    background: var(--third-color);
}

.third-header-gallery {
    color: var(--second-color);
}

.fourth-header-gallery {
    color: var(--fourth-color);
}

.gallery-photos {
    background: var(--base-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
}

.photo {
    width: 100%;
    height: 300px;
    cursor: pointer;
    -webkit-transition: width 0.6s, height 0.6s;
    -o-transition: width 0.6s, height 0.6s;
    transition: width 0.6s, height 0.6s;
}

.photo img {
    width: 100%;
    height: 100%;
}

.photo-big {
    width: 100vw;
    height: 100vh;
    border: 10px solid var(--second-color);
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
}

.photo-story {
    width: 100%;
    height: 70%;
    padding: 0.5rem;
    background: var(--seventh-color);
    z-index: 6;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
}

.photo-story-show {
    display: block;
}

.photo-story-header {
    font-size: 1rem;
    letter-spacing: 1px;
    position: relative;
}

.photo-story-header::after {
    content: "";
    width: 10%;
    border-bottom: 1.5px solid var(--sixth-color);
    text-align: center;
    position: absolute;
    bottom: -10px;
    left: 0;
    margin-left: 45%;
}

.photo-story-paragraph {
    font-size: 0.8rem;
    padding: 1rem 2rem;
}

/* about-us */
.about-us {
    margin-bottom: 3rem;
}

.about-us-header {
    display: none;
}

.about-us-wrapper {
    padding: 0;
    background: var(--second-color);
}

.about-us-box {
    font-size: 0.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.about-us-box span {
    color: var(--base-color);
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.about-us-box span:hover {
    color: var(--sixth-color);
}

.about-us-box a {
    text-decoration: none;
}

.about-us-box a:first-of-type {
    margin-right: 0.5rem;
}

.about-us-text {
    width: 100%;
    padding: 1rem 3rem 2rem;
    text-align: center;
}

.about-us-box-second {
    background: var(--base-color);
    color: var(--second-color);
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
}

.about-us-box-second .about-us-text {
    text-align: center;
}

.about-us-box-second span {
    color: var(--second-color);
}

.about-us img {
    width: 100%;
}

.fifth-header {
    margin: 0 0 0.5rem;
    font-size: 1.5rem;
}

.about-us-paragraph {
    margin: 1rem 0;
}

/* social icons section */
.social-icons-section {
    margin-bottom: 3rem;
}

.social-icons-section-wrapper {
    padding: 0.5rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.social-icons-section-wrapper a {
    margin: 0 1rem;
    font-size: 2rem;
    color: var(--second-color);
    opacity: 0.7;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.social-icons-section-wrapper a:hover {
    opacity: 1;
}

/* footer */
.footer-wrapper {
    padding: 0 0 2rem;
    font-size: 0.8rem;
    color: var(--second-color);
    text-align: center;
    opacity: 0.7;
}

.footer-wrapper a {
    color: var(--second-color);
    opacity: 0.7;
    -webkit-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.footer-wrapper a:hover {
    opacity: 1;
}

/* media queries*/
@media only screen and (min-width: 750px) {
    .story-paragraph {
        padding: 0rem 3rem;
        font-size: 1rem;
    }

    .gallery-photos {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .photo {
        width: 50%;
    }

    .about-us-box {
        font-size: 1rem;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .about-us-text {
        width: 50%;
        text-align: left;
    }

    .about-us-box-second {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }

    .about-us-box-second .about-us-text {
        text-align: right;
    }

    .about-us img {
        width: 50%;
    }
}
