/* variables */
:root {
  --base-color: #1e1f23;
  --second-color: #fff;
  --third-color: #000;
  --fourth-color: rgba(170, 165, 165, 0.4);
  --fifth-color: rgba(30, 31, 35, 0.5);
}

/* general */
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    height: 100vh;
    position: relative;
}

.background {
    width: 100%;
    height: 100vh;
    background: var(--base-color) url("../img/background-photo.jpg") no-repeat center/cover;
    position: fixed;
    top: 0;
    z-index: -2;
}

.background-shadow {
    width: 100%;
    height: 100vh;
    background: var(--fifth-color);
    z-index: -1;
    position: absolute;
    top: 0;
}

.wrapper {
    width: 90vw;
    max-width: 1250px;
    padding: 0.5rem;
    margin: 0 auto;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    margin: -1px !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

/* header */
.header {
    margin-bottom: 1.5rem;
}

.header-wrapper {
    text-align: center;
    letter-spacing: 1.5px;
}

.main-header {
    margin: 2rem 0 0.5rem;
    color: var(--second-color);
    font-size: 3rem;
}

.second-header {
    margin: 0;
    color: var(--fourth-color);
    font-size: 1rem;
}

/* hero */
.hero-wrapper {
    padding: 10rem;
    background: url("../img/background-photo.jpg") no-repeat center/cover;
}

.hero-header {
    display: none;
}

/* story */
.story-wrapper {
    padding: 1rem 0 0;
    background: var(--second-color);
    text-align: center;
}

.third-header {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    position: relative;
}

.third-header::after {
    content: "";
    width: 10%;
    border-bottom: 1.5px solid var(--fourth-color);
    text-align: center;
    position: absolute;
    bottom: -10px;
    left: 0;
    margin-left: 45%;
}

.fourth-header {
    font-size: 1rem;
    color: var(--fifth-color);
    letter-spacing: 1px;
    font-weight: 300;
    margin-bottom: 3rem;
}

.story-text-wrapper {
    padding: 3rem;
    color: var(--fifth-color);
    background: var(--fourth-color);
    text-align: left;
}

.story-paragraph {
    font-size: 0.8rem;
}

/* gallery */
.gallery-wrapper {
    padding: 4rem 0;
    background: var(--base-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallery-background {
    width: 90%;
    background: var(--third-color);
}

.third-header-gallery {
    color: var(--second-color);
}

.fourth-header-gallery {
    color: var(--fourth-color);
}

.gallery-photos {
    width: 100%;
    background: var(--base-color);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
}

.photo {
    width: 100%;
    height: 300px;
    background: url("../img/background-photo.jpg") no-repeat center/cover;
    cursor: pointer;
    transition: width 0.6s, height 0.6s, opacity 0.6s;
}

.photo img {
    width: 100%;
    height: 100%;
}

.photo-big {
    width: 100vw;
    height: 100vh;
    border: 5px solid var(--second-color);
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
}

/* media queries*/
@media only screen and (min-width: 700px) {}
    .story-paragraph {
        font-size: 1rem;
    }

    .gallery-photos {
        flex-direction: row;
    }

    .photo {
        width: 50%;
    }
}
